.snakemake/
bin/swissprot/
fastq/
fasta_wgs/
fasta_plasmid/
abricate_amr/
abricate_plasmid/
prokka/
blastx/
sprot/
sprot_best/
sprot_TF/
shovill/
unicycler/
/bin/scripts/deeptfactor/deeptfactor/__pycache__/
deeptfactor/
deeptfactor_hits/
plasmid_summary.csv
deepTFactor_sprot/
plasmid_summary.csv
blastx_best/
plasmid.tar.gz
